<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="province">
      <h2 data-cy="provinceDetailsHeading"><span jhiTranslate="zhcdiApplicationApp.province.detail.title">Province</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ province.id }}</span>
        </dd>
        <dt><span jhiTranslate="zhcdiApplicationApp.province.name">Name</span></dt>
        <dd>
          <span>{{ province.name }}</span>
        </dd>
        <dt><span jhiTranslate="zhcdiApplicationApp.province.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ province.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="zhcdiApplicationApp.province.modifiedDate">Modified Date</span></dt>
        <dd>
          <span>{{ province.modifiedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/province', province.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
