<div>
  <h2 id="page-heading" data-cy="FileUploadHeading">
    <span jhiTranslate="zhcdiApplicationApp.fileUpload.home.title">File Uploads</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="zhcdiApplicationApp.fileUpload.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-file-upload"
        [routerLink]="['/file-upload/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="zhcdiApplicationApp.fileUpload.home.createLabel"> Create a new File Upload </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fileUploads?.length === 0">
    <span jhiTranslate="zhcdiApplicationApp.fileUpload.home.notFound">No File Uploads found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="fileUploads && fileUploads.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="filename">
            <div class="d-flex">
              <span jhiTranslate="zhcdiApplicationApp.fileUpload.filename">Filename</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="originalFilename">
            <div class="d-flex">
              <span jhiTranslate="zhcdiApplicationApp.fileUpload.originalFilename">Original Filename</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="extension">
            <div class="d-flex">
              <span jhiTranslate="zhcdiApplicationApp.fileUpload.extension">Extension</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sizeInBytes">
            <div class="d-flex">
              <span jhiTranslate="zhcdiApplicationApp.fileUpload.sizeInBytes">Size In Bytes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sha256">
            <div class="d-flex">
              <span jhiTranslate="zhcdiApplicationApp.fileUpload.sha256">Sha 256</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contentType">
            <div class="d-flex">
              <span jhiTranslate="zhcdiApplicationApp.fileUpload.contentType">Content Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="uploadDate">
            <div class="d-flex">
              <span jhiTranslate="zhcdiApplicationApp.fileUpload.uploadDate">Upload Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fileUpload of fileUploads; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/file-upload', fileUpload.id, 'view']">{{ fileUpload.id }}</a>
          </td>
          <td>{{ fileUpload.filename }}</td>
          <td>{{ fileUpload.originalFilename }}</td>
          <td>{{ fileUpload.extension }}</td>
          <td>{{ fileUpload.sizeInBytes }}</td>
          <td>{{ fileUpload.sha256 }}</td>
          <td>{{ fileUpload.contentType }}</td>
          <td>{{ fileUpload.uploadDate | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/file-upload', fileUpload.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/file-upload', fileUpload.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fileUpload)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fileUploads && fileUploads.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
